* {
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

/* navbar */
.navbar {
  transition: 0.6s;
}

.sticky {
  background-color: #0d6efd;
  box-shadow: 0px 1px 5px 0px #212529;
}

.nav-link {
  padding: 3px 0;
  color: #ffffff;
  text-align: center;
}

/* header */
.jumbotron {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../img/bahan/Google-Maps-Dante-Syailendra.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 640px;
}

.content {
  padding-top: 200px;
  color: #fff;
  text-align: center;
}

.content span {
  font-weight: 400;
  text-transform: none;
}

.content h1 {
  font-size: 20px;
  text-transform: uppercase;
}

.content p {
  font-size: 10px;
}

/* Halaman About */
.tentang {
  padding-top: 50px;
  padding-bottom: 70px;
  color: #343a40;
}

.tentang h1 {
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 30px;
}

.tentang h1 span {
  font-family: "Lobster", cursive;
  color: #0d6efd;
}

.tentang p {
  font-size: 12px;
}

.tentang img {
  border-radius: 5%;
}

.tentang a {
  margin-top: 20px;
  font-size: 10px;
}

/* galeri */
.galeri {
  padding-top: 50px;
  padding-bottom: 70px;
  color: #fff;
  background-color: #343a40;
  text-align: center;
}

.galeri h1 {
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 30px;
}

.galeri h1 span {
  font-family: "Lobster", cursive;
  color: #0d6efd;
}

.galeri .galeri-img img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  margin: 10px 0;
  border-radius: 5%;
}

/* kontak */
.kontak {
  background-color: #0d6efd;
}

.kontak .kontak-content {
  text-align: center;
  height: 150px;
}

.kontak .col-kontak {
  margin-right: 15px;
  margin-left: 15px;
  margin: 0;
  color: #fff;
  font-size: 12px;
}

.col-kontak p svg {
  width: 16px;
}

footer {
  font-size: 12px;
  color: #fff;
  text-align: center;
  padding: 10px;
}

/* halaman galeri */
.content-galeri {
  margin-top: 150px;
  margin-bottom: 100px;
  text-align: center;
}

.content-galeri ul li {
  list-style: none;
}

.content-galeri a img {
  margin: 5px 0px;
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 5%;
}

.overlay {
  width: 0;
  height: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0);
  z-index: 9999;
  transition: 0.5s;
  padding-top: 50%;
  padding-left: 5px;
  padding-right: 5px;
}

.overlay:target {
  width: auto;
  height: auto;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
}

.overlay:target img {
  animation: zoomInOut 0.3s;
}

.overlay img {
  max-width: 100%;
  border-radius: 2%;
}

.overlay .close {
  position: absolute;
  top: 130px;
  right: 15%;
  margin-right: -40px;
  background-color: rgba(85, 85, 85, 0.493);
  color: #fff;
  text-decoration: none;
  padding: 0px 5px;
  border-radius: 5%;
  transition: 0.5s;
  opacity: 0;
}

.overlay:target .close {
  animation: zoomInOut 0.3s forwards;
}

/* Tampulan Desktop */
@media (min-width: 992px) {
  /* Navbar */
  .nav-link {
    text-transform: uppercase;
    margin-right: 30px;
    color: #fff;
  }

  .nav-link:hover {
    color: #fff;
  }

  .nav-link:hover::after {
    content: "";
    display: block;
    border-bottom: 3px solid #fff;
    width: 50%;
    margin: auto;
    padding-bottom: 5px;
    margin-bottom: -8px;
    color: #fff !important;
  }

  .content {
    padding-top: 200px;
    text-align: start;
  }

  .content h1 {
    font-size: 32px;
  }

  .content p {
    padding-right: 300px;
    font-size: 16px;
  }

  /* Halaman About */
  .tentang {
    padding-top: 70px;
    padding-bottom: 100px;
  }
  .tentang h1 {
    margin-top: 30px;
    margin-bottom: 70px;
  }

  .tentang p {
    font-size: 18px;
    text-align: justify;
    display: flex;
    align-items: center;
  }

  .tentang a {
    margin-top: 50px;
    font-size: 14px;
  }

  /* galeri */
  .galeri .galeri-img img {
    width: 30%;
    height: 250px;
    object-fit: cover;
    margin: 5px 5px;
    border-radius: 5%;
    transition: 0.5s;
  }

  .galeri .galeri-img img:hover {
    box-shadow: 0px 0px 20px 0px #000;
  }

  /* Halaman galeri */
  .content-galeri {
    margin-top: 200px;
    margin-bottom: 200px;
    text-align: center;
  }

  .content-galeri a img {
    margin: 10px 0px;
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10%;
  }

  .content-galeri a img:hover {
    box-shadow: 0 0 20px 0 #000;
  }

  .overlay {
    padding: 100px 0;
  }

  .overlay:target {
    width: auto;
    height: auto;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
  }

  .overlay img {
    max-height: 100%;
    max-width: auto;
    border-radius: 2%;
  }

  .overlay .close {
    top: 70px;
    right: 30%;
    margin-right: -40px;
    padding: 0px 5px;
    border-radius: 5%;
    transition: 0.5s;
  }

  /* kontak */
  .kontak {
    background-color: #0d6efd;
  }

  .kontak .kontak-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
  }

  .kontak .col-kontak {
    margin-right: 15px;
    margin-left: 15px;
    color: #fff;
  }

  footer {
    font-size: 16px;
    color: #fff;
    text-align: center;
    padding: 10px;
  }
}

/* Animasi */
@keyframes zoomInOut {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}
